<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018246210796-rdi640hjcvsbvfepheqvl1il9kt79o38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018246210796-rdi640hjcvsbvfepheqvl1il9kt79o38</string>
	<key>API_KEY</key>
	<string>AIzaSyAcp3z0frwcwXH4DonZvzTDg-LR-XSMGrw</string>
	<key>GCM_SENDER_ID</key>
	<string>1018246210796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.edu.nyp.sinyan.DevelopmentIsFun</string>
	<key>PROJECT_ID</key>
	<string>devisfun-3146f</string>
	<key>STORAGE_BUCKET</key>
	<string>devisfun-3146f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018246210796:ios:98a3b00ce63b72360931c9</string>
</dict>
</plist>